<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, 
		maximum-scale=1, user-scalable=no">
		<meta charset="utf-8" />
		<!-- <meta http-equiv="Access-Control-Allow-Origin" content="*" /> -->
		<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<script src="js/urlAddress.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/utils.js" type="text/javascript" charset="utf-8"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<title>登录</title>
		<style>
			.img_sy{
				width: 30%;
				margin-left: 35%;
				text-align: center;
				margin-top: 80px;
			}
		</style>
	</head>
	<body style="background: #F7F7F7;">
		<div id="id_app">
			<img class="img-circle img_sy" src="img/app_logo.png">
			<input v-model="user_account" type="text" placeholder="请输入登录账号" style="width: 94%;height: 40px;margin-top: 20px;margin-left: 3%;padding-left: 10px;outline: none;border: #DBDBDB solid 1px;border-radius: 4px;" />

			<input v-model="user_pwd" type="password" placeholder="请输入登录密码" style="width: 94%;height: 40px;margin-top: 20px;margin-left: 3%;padding-left: 10px;outline: none;border: #DBDBDB solid 1px;border-radius: 4px;" />

			<p style="margin-left: 12px;display: none;" onclick="location.href='register.html'">注册</p>
			<p @click="login()" style="margin-top: 50px;width: 94%;margin-left: 3%;height: 40px;background: #23527C;color: #fff;text-align: center;line-height: 40px;border-radius: 4px;margin-top: 40px;">登录</p>

		</div>

	</body>
	<script>
		addEventTest();
		var app = new Vue({
			el: "#id_app",
			data: {
				user_account: localStorage.getItem("userName"),
				user_pwd: localStorage.getItem("password")
			},
			mounted() {
				if(localStorage.getItem('access-token') != '' && localStorage.getItem('access-token') != null){
					var access_token = localStorage.getItem('access-token');
					location.href = "main.html";
				}
			},
			methods: {
				login: function() {
					var that = this;
					ajax({
						method: 'POST',
						url: LOGIN,
						data:{
							phone:that.user_account,
							password:that.user_pwd
						},
						success: function(obj) {
							if(obj.success){
								var access_token = obj.data['access-token'];
								localStorage.setItem('access-token',access_token)
								localStorage.setItem('userName',that.user_account)
								localStorage.setItem('password',that.user_pwd)
								location.href = "main.html";
							}else{
								alert(obj.message)
							}
						}
					})
				}
			}
		})
	</script>
</html>
