<!DOCTYPE html>
<html>
	<head>
		<meta name='viewport' content='width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no'>
		<meta charset='utf-8' />
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<script src="js/utils.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/urlAddress.js" type="text/javascript" charset="utf-8"></script>
		<!-- 生产环境版本，优化了尺寸和速度 -->
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	</head>
	<style>
		ul,
		li {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		p,
		span {
			font-size: 12px;
			font-weight: 100;
			padding: 0px;
			margin: 0px;
		}

		body {
			background: #F7F7F7;
		}

		.tab {
			width: 49%;
			display: inline-block;
			text-align: center;
			height: 40px;
			line-height: 40px;
		}

		.item_btn {
			background: #FF3159;
			color: #FFFFFF;
			padding: 5px 10px 5px 10px;
			border-radius: 4px;
		}

		.item_bg {
			background: #FFFFFF;
			margin: 2%;
			border-radius: 4px;
			width: 96%;
		}
	</style>
	<body>
		<div id="id_app">
			<p style="height: 40px;text-align: center;line-height: 40px;background: #FFFFFF;margin: 0px;">任务</p>
			<div style="background: #FFFFFF;">
				<div @click="clickTab(0)" class="tab">
					<img style="width: 12px;" src='img/douying.png' />
					<span :style="selTab == 0 ? 'color:red':''">待完成</span>
				</div>
				<div @click="clickTab(1)" class="tab">
					<img style="width: 12px;" src='img/douying.png' />
					<span :style="selTab == 1 ? 'color:red':''">已完成</span>
				</div>
			</div>
			<!-- 待完成 -->
			<ul v-if="showStatus">
				<li v-for="data in taskDatas" >
					<div class="item_bg">
						<img :src="data.img" style="margin-left: 12px;width: 70px;margin-bottom: 30px;" />
						<ul style="margin-top: 0px;display: inline-block;margin-left: 30px;">
							<li style="height: 30px;padding-top: 15px;"><span>任务要求: {{data.task_name}}</span><span style="font-weight: bold;color: #FF3159;float: right;">¥
									{{data.integral}}</span></li>
							<li style="height: 30px;padding-top: 10px;"><span>发布时间: {{data.add_time}}</span></li>
							<li style="height: 30px;padding-top: 5px;">
								<span @click="openVideo(data.link)" class="item_btn">打开链接</span>
								<span @click="copyUrl(data.link)" class="item_btn">复制链接</span>
								<span @click="submitTask(data.ID,data.task_name,data.integral)" class="item_btn">提交任务</span>
							</li>
						</ul>

					</div>
				</li>
			</ul>
			<!-- 已完成 -->
			<ul v-if="!showStatus">
				<li v-for="data in taskDatas">
					<div style="padding: 2%;" class="item_bg">
						<span>{{data.task_name}}  ({{data.org}})</span> <span style='float: right;'>已完成</span>
						<p style='color: #bbbbbb;margin-top: 8px;'>任务收益: ¥{{data.integral}}</p>
						<p style='color: #bbbbbb;'>申请时间: {{data.add_time}}</p>
					</div>
				</li>
			</ul>
		</div>
		<p style="height: 70px;"></p>
		
		<div style="position: fixed;bottom: 0px;z-index: 999;width: 100%;background: #FFFFFF;line-height: 20px;padding-top: 10px;">
			<div onclick="location.href='main.html'" style="width: 24%;display: inline-block;text-align: center;">
				<img style="width: 20px;" src="img/icon_tab_sy_1.png">
				<p style="margin-top: 4px;font-size: 12px;">首页</p>
			</div>
			<div style="width: 24%;display: inline-block;text-align: center;">
				<img style="width: 20px;" src="img/icon_tab_rw_2.png">
				<p style="margin-top: 4px;font-size: 12px;color: #FF3159;">任务</p>
			</div>
			<div onclick="location.href='updata_pay.html'" style="width: 24%;display: inline-block;text-align: center;">
				<img style="width: 20px;" src="img/icon_tab_gm_1.png">
				<p style="margin-top: 4px;font-size: 12px;">购买</p>
			</div>
			<div onclick="location.href='me.html'" style="width: 24%;display: inline-block;text-align: center;">
				<img style="width: 20px;" src="img/icon_tab_wd_1.png">
				<p style="margin-top: 4px;font-size: 12px;padding-bottom: 10px;">我的</p>
			</div>
		</div>

	</body>

	<script>

		addEventTest();
		var app = new Vue({
			el: "#id_app",
			data: {
				showStatus: true,
				taskDatas: [],
				selTab:0
			},
			mounted() {
				this.getData(0);
			},
			methods: {
				clickTab: function(tag) {
					this.selTab = tag;
					this.taskDatas.splice(0, this.taskDatas.length)
					this.showStatus = (tag == 0);
					this.getData(tag);
				},
				openVideo: function(url) {
					// location.href = "webview.html?taskUrl=" + url;
					plus.runtime.openWeb(url)
				},
				copyUrl: function(url) {
					let oInput = document.createElement('input')
					oInput.value = url;
					document.body.appendChild(oInput)
					oInput.select()
					document.execCommand("Copy")
					oInput.style.display = 'none'
					document.body.removeChild(oInput)
					window.alert('复制成功')
				},
				submitTask: function(v1, v2, v3) {
					location.href = "submit_task.html?id=" + v1 + "&taskName=" + decodeURI(v2) + "&taskMoney=" + v3;
				},
				Task: function(ID, add_time, img, link, name, task_name, weixin, integral,status,platform) {
					var task = new Object();
					task.ID = ID;
					task.add_time = add_time;
					task.img = img;
					task.link = link;
					task.name = name;
					task.task_name = task_name;
					task.weixin = weixin;
					task.integral = StringToFloat(integral);
					
					if(status == "1"){
						task.state = '审核中';
					}else{
						task.state = '已完成';
					}
					
					switch(platform){
						case "1":
						task.org = "抖音任务"
						break;
						case "2":
						task.org = "快手任务"
						break;
						case "3":
						task.org = "微视任务"
						break;
						case "4":
						task.org = "火山任务"
						break;
					}

					return task;
				},
				getData(status) {
					var that = this;
					ajax({
						method: 'POST',
						url: MY_TASK_LIST + "?access-token=" + localStorage.getItem('access-token'),
						data: {
							status: status
						},
						success: function(obj) {
							if (obj.success) {
								for (var i = 0; i < obj.data.length; i++) {
									var taskJson = obj.data[i];
									that.taskDatas.push(that.Task(
										taskJson.ID,
										taskJson.add_time,
										taskJson.img,
										taskJson.link,
										taskJson.name,
										taskJson.task_name,
										taskJson.weixin,
										taskJson.integral,
										taskJson.status,
										taskJson.platform
									));
								}
							}
						}
					})
				}
			}
		});
	</script>
</html>
