<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1,
		maximum-scale=1, user-scalable=no">
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<script src="js/utils.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/urlAddress.js" type="text/javascript" charset="utf-8"></script>
		<!-- 生产环境版本，优化了尺寸和速度 -->
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<title></title>
		<style>
			ul,
			li {
				padding: 0;
				margin: 0;
				list-style: none
			}

			p,
			span {
				font-weight: 100;
			}
		</style>
	</head>
	<body style="background: #F7F7F7;">
		<div id="id_app">
			<p style="height: 40px;text-align: center;line-height: 40px;background: #FFFFFF;margin: 0px;">购买</p>
			<ul id="id_list" style="margin: 2%;">
				<li v-if="data.isShow" style="color: #FFFFFF;margin: 1%;overflow: hidden;" v-for="(data,index) in datas ">
					<!-- <img src="img/季度卡.png" style="width: 100%;"/> -->
					<div :style="`padding: 3% 3% 0% 3%;background: url(img/${data.img}.png);background-size: 100% 100%;`">
						<span style="font-weight: bold;">{{data.name}}</span>
						<span style="position: absolute;right: 20px;">会员费: {{data.price}}元</span>
						<p style="margin-left: 20px;margin-top: 20px;">每天可做任务: {{data.task_count}}个</p>
						<p style="margin-left: 20px;margin-top: -4px;">{{data.description}}</p>
						<p style="margin-left: 20px;margin-top: -4px;">直接邀请同伴奖励: {{data.direct_rate}} %</p>
						 <p style="width: 100%;margin-top: -15px;">&nbsp;</p>
						<span @click="pay(data.name,data.price,data.ID)" style="text-align: center;width: 40%;margin-left: 30%;background: #FFFFFF;color: #1B6D85;padding-left: 12px;padding-right: 12px;padding-top: 8px;padding-bottom: 8px;border-radius: 4px;">立即升级(剩余:{{data.surplus}})</span>
						<p>&nbsp;</p>
					</div>
				</li>
			</ul>
		</div>
		<p style="height: 70px;"></p>

		<div style="position: fixed;bottom: 0px; z-index: 999;width: 100%;background: #FFFFFF;line-height: 20px;padding-top: 10px;">
			<div onclick="location.href='main.html'" style="width: 24%;display: inline-block;text-align: center;">
				<img style="width: 20px;" src="img/icon_tab_sy_1.png">
				<p style="margin-top: 4px;font-size: 12px;">首页</p>
			</div>
			<div onclick="location.href='task.html'" style="width: 24%;display: inline-block;text-align: center;">
				<img style="width: 20px;" src="img/icon_tab_rw_1.png">
				<p style="margin-top: 4px;font-size: 12px;">任务</p>
			</div>
			<div style="width: 24%;display: inline-block;text-align: center;">
				<img style="width: 20px;" src="img/icon_tab_gm_2.png">
				<p style="margin-top: 4px;font-size: 12px;color: #FF3159;">购买</p>
			</div>
			<div onclick="location.href='me.html'" style="width: 24%;display: inline-block;text-align: center;">
				<img style="width: 20px;" src="img/icon_tab_wd_1.png">
				<p style="margin-top: 4px;font-size: 12px;">我的</p>
			</div>
		</div>

	</body>
	<script>
		addEventTest();
		var app = new Vue({
			el: "#id_app",
			data: {
				datas: [],
				imgArrays: ["level_1", "level_2", "level_3"],
				isDq: false,
				level_name: '',
				lastPayMoney: 0,
				isShowTips:true,
				level:0
			},
			mounted() {
				var that = this;
				ajax({
					method: 'POST',
					url: USER_INFO + "?access-token=" + localStorage.getItem('access-token'),
					success: function(obj) {
						if (obj.success) {
							var level_expire = obj.data.level_expire == '无' ? "1999-12-12" : obj.data.level_expire;
							that.isDq = new Date(level_expire).getTime() < new Date().getTime();
							that.level_name = obj.data.level_name;
							that.lastPayMoney = obj.data.lastPayMoney;
							that.level = obj.data.level;
						}
						that.getData();
					}
				})
				
			},
			methods: {
				pay: function(levelName, levelPrice, level_id) {
					var money = 0;
					if (levelName == this.level_name || this.isDq) {
						money = levelPrice;
					} else {
						money = levelPrice - this.lastPayMoney
					}
					location.href = decodeURI("updata.html?levelName=" + levelName + "&levelPrice=" + money + "&level_id=" +
						level_id + "&level_name=" + this.level_name + "&yuanjia=" + levelPrice);
				},
				Packge: function(ID, add_time, description, name, price, sort, status, task_count, type, img, surplus,
					direct_rate) {
					var data = new Object();
					data.ID = ID;
					data.add_time = add_time;
					data.description = description;
					data.name = name;
					data.price = price;
					data.sort = sort;
					data.status = status;
					data.task_count = task_count;
					data.type = type;
					data.img = img;
					data.surplus = surplus;
					data.direct_rate = direct_rate;
					
					
					if(this.isDq){
						data.isShow = true;
					}else{
						data.isShow = parseInt(data.ID) > this.level;
					}
					if(data.isShow){
						this.isShowTips = false;
					}
					return data;
				},
				getData: function() {
					var that = this;
					ajax({
						method: 'POST',
						url: PACKAGE_LIST + "?access-token=" + localStorage.getItem('access-token'),
						success: function(obj) {
							if (obj.success) {
								for (var i = 0; i < obj.data.length; i++) {
									var packge = obj.data[i];
									that.datas.push(that.Packge(
										packge.ID,
										packge.add_time,
										packge.description,
										packge.name,
										StringToFloat(packge.price),
										packge.sort,
										packge.status,
										packge.max,
										packge.type,
										that.imgArrays[i % 3],
										packge.count,
										packge.direct_rate
									));
								}
								if(that.isShowTips){
									alert('您当前已经是最高级别,到期后可续费');
								}
							}
						}
					})
				}
			}
		});
	</script>
</html>
